---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="bg-main-mobile bg-cover min-h-screen">
    <section class="h-full text-white flex flex-col justify-center pt-[60px]">
      <div class="font-sans flex flex-col items-center justify-center mt-20">
        <p class="text-center text-xl Wfont-thin">SO, YOU WANT TO TRAVEL TO</p>
        <h1 class="text-[120px] tracking-widest mb-4 font-thin">SPACE</h1>
        <p class="text-center text-[17px] mx-[60px] font-thin">
          Let's face it, if you want to gi to space, you might as well
          genuinelly go yo outer space and not hover kind of on the edge of it.
          Well sit back, and relax because we'll give you a truly out of this
          world experience.
        </p>
      </div>
      <div class="m-auto my-24">
        <span class="flex items-center justify-center bg-white h-44 w-44 text-slate-800 text-xl rounded-full">
          EXPLORE
        </span>
      </div>
    </section>
  </main>
</Layout>
